
@media (max-width:1200px) {
    html{
        font-size:60%;
    }
    main#main{
        width:60%;
    }
}

@media (max-width:900px) {
    html{
        font-size:58%;
    }
    main#main{
        width:75%;
    }
}

@media (max-width:640px) {
    body{
        display: block;
   
    }
main#main{
        flex-direction:column;
        width:100%;

        .wrapper-right{
            border-top-right-radius:0;
            border-top-left-radius:0;
        }
        .wrapper-left{
        border-top-right-radius:0;
        border-top-left-radius:0;
        }
    }
   
}

